# [Project Info]
PROJECT_NAME=Antidote

# [PostgreSQL & pgvector Config]
POSTGRES_USER=antidote_admin
POSTGRES_PASSWORD=antidote_password
POSTGRES_DB=antidote_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql://antidote_admin:antidote_password@localhost:5432/antidote_db

# [AI Model Names]
KOELECTRA_BASE_MODEL="your model path"
KOELECTRA_SMALL_MODEL="your model path" 
BGE_M3_MODEL=BAAI/bge-m3

# [Gemini API 설정]
GEMINI_API_KEY="your_api_key"  # 휴먼센터
GEMINI_MODEL_LIST=models/gemini-3.1-flash-lite-preview,models/gemini-3-flash-preview,models/gemini-2.5-flash,models/gemini-2.5-flash-lite

# JWT 서명에 사용할 무작위 문자열 (최소 32자 이상 추천) : 직접 생성, secrets모듈 사용하면 편함
SECRET_KEY=70e68d34892c906a5928682a20980c657a7f43274640484558e0a8163f91216d
# 구글 클라우드 콘솔에서 발급받은 ID
GOOGLE_CLIENT_ID=1234567890-abcdefg.apps.googleusercontent.com
# 토큰 만료 시간 (24시간)
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# [Vector Dimensions]
BGE_M3_DIMENSION=1024
KOELECTRA_BASE_DIMENSION=768
KOELECTRA_SMALL_DIMENSION=512 

# [Model Settings]
MAX_SEQ_LENGTH=512
