# [Project Info]
PROJECT_NAME=Antidote

# [PostgreSQL & pgvector Config]
POSTGRES_USER=antidote_admin
POSTGRES_PASSWORD=antidote_password
POSTGRES_DB=antidote_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql://antidote_admin:antidote_password@localhost:5432/antidote_db

# [AI Model Names]
KOELECTRA_BASE_MODEL="your model path"
KOELECTRA_SMALL_MODEL="your model path" 
BGE_M3_MODEL=BAAI/bge-m3

# [Gemini API 설정]
GEMINI_API_KEY="your_api_key"
GEMINI_MODEL_NAME=models/gemini-1.5-flash

# [Vector Dimensions]
BGE_M3_DIMENSION=1024
KOELECTRA_BASE_DIMENSION=768
KOELECTRA_SMALL_DIMENSION=512 

# [Model Settings]
MAX_SEQ_LENGTH=512
