# [Web Framework]
fastapi
uvicorn[standard]

# [Environment & Config]
pydantic
pydantic-settings
python-dotenv
requests
pandas

# [Database]
sqlalchemy
psycopg2-binary
pgvector

# [AI & Data]
openai
python-multipart
torch
transformers
scikit-learn
pymupdf
sentence_transformers

langchain>=0.1.0
langchain-community
langchain-text-splitters